<div class="contribute">
    <div class="thanks" style="display: none">
        <h3>✅ Thanks for your <a href="javascript:" class="toggle">contribution</a>!</h3>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <p><q>I would like to pay
            <input type="hidden" name="business" value="UASPXT4P7DMTW">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="item_name" value="Contribution for guide.bash.academy">
            <input type="hidden" name="no_shipping" value="1">
            <input type="text" name="amount" value="20" size="5" class="text">
            <select name="currency_code" class="text">
                <option value="USD">US $</option>
                <option value="RUB">₽</option>
                <option value="INR">₹</option>
                <option value="GBP">£</option>
                <option value="EUR">€</option>
                <option value="CAD">C$</option>
                <option value="AUD">A$</option>
                <option value="BRL">R$</option>
            </select> for the benefit of my access to this guide: <input type="submit"></q>
    </p></form>
</div>
