@import url(http://fonts.googleapis.com/css?family=Quicksand:300,700|Source+Code+Pro:300,600|Maven+Pro:400,700|Varela+Round);

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html, body {
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    counter-reset: section;
    color: #555;

    font-family: "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.3em;
}
a:link, a:visited {
    color: #333;
    transition: .2s all;

    font-weight: bolder;
}
a:hover {
    color: #888;
}
q {
    color: #999;
    font-style: oblique;
}
q::before {
    content: "“";
}
q::after {
    content: "”";
}
h1, h2 {
    color: #333;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-family: 'Quicksand', sans-serif;
}
dd {
    margin: 1ex 4%;
    outline: 5px solid #FAFAFA;
    padding: 0 1%;
}


/* Headers */
header {
    background: #BBB;
    background-size: cover;
    box-shadow: 0 0 50px black;

    position: relative;
    height: 80%;
    margin: 0;
    padding: 15%;
    box-sizing: border-box;

    text-shadow: 0 1px 5px black, 0 1px 2px black;
}
#cover header {
    background-image: url("../img/cover.jpg");
}
#inception header {
    background-image: url("../img/inception.jpg");
}
#commands header {
    background-image: url("../img/commands.jpg");
}
header>div {
    position: absolute;

    bottom: 15%;
}
header h1 {
    color: white;

    margin: 0.5em 0;
    font-size: 3em;
}
header h2 {
    color: white;

    margin: 0;
    font-size: 1em;
}
header a:link, header a:visited {
    color: #EEE;
    font-weight: bolder;
}
header a:hover {
    color: inherit;
}


article {
}
section {
    counter-reset: subsection;

    min-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding: 15% 0;
    box-sizing: border-box;
}
section h1,
section h2 {
    margin: 0 -1em 1em;
}
section h2 {
    margin-top: 5em;
}
section h1::before,
section h2::before {
    color: #BBB;

    font-size: 0.5em;
}
section h1::before {
    counter-increment: section;
    content: "⌗" counters(section,".") " ";
}
section h2::before {
    counter-increment: subsection;
    content: " ❡" counters(subsection, ".") " ";
}
aside {
    background: #FAFAFA;
    border: 3px solid #EEE;
    transition: .3s all;

    display: block;
    position: relative;
    margin: 1em 0 1em 7em;
    padding: 1ex;
}
aside:hover {
    background: #EEE;
    border-color: #CCC;
}
aside::before {
    content: "note";
    color: #CCC;
    transition: .3s all;

    position: absolute;
    right: 100%;
    padding: 0 1ex;
}
aside:hover::before {
    color: #AAA;
}
footer,
pre {
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
    box-shadow: 0 0 1px #CCC;
    transition: .3s all;

    display: block;
    position: relative;
    margin: 0 -12.5%
}
dd footer,
dd pre {
    margin: 0 -19.5%
}
footer, code, pre, kbd {
    counter-reset: samp;

    background-image: url("../img/stripes.png"); /* Performs better, maybe not as pretty. */
    /*background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,.3) 2px, rgba(255,255,255,.3) 4px);
    background-size:6px 6px;*/
}
footer {
    background-color: #EEE;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;

    padding: 1em 20%;
}
footer:hover {
    color: black;
    box-shadow: 0 0 15px #CCC;
}
section>footer::before {
    content: "TL;DR";

    background: white;
    border-right: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;

    position: absolute;
    top: 0;
    left: 0;
    padding: 1ex;

    font-size: 0.8em;
}
pre, code, kbd, var, samp {
    background-color:#DDD;

    white-space: pre;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
}
kbd {
    color: black;
    cursor: pointer;
}
kbd, kbd:hover,
pre:hover kbd {
    text-decoration: underline;
}
var {
    border-bottom: 1px dashed;
}
var:hover {
    color: black;
}
pre kbd, pre var, pre samp,
code kbd, code var, code samp {
    background: rgba(255, 255, 255, 0);
    transition: 0.2s all;

    font-size: inherit;
    text-decoration: none;
}
pre samp,
code samp {
    display: inline-block;
    width: 100%;
}
pre {
    position: relative;
    z-index: 0;
    color: #999;
    border-top-color: #BBB;
    border-bottom-color: #BBB;

    padding: 1em 20%;
    overflow: auto;

    font-size: 0.8em;
}
pre:hover {
    color: #666;
    box-shadow: 0 0 15px #CCC;
}
code.bad, pre.bad, kbd.bad, var.bad, samp.bad {
    background-color: #E3DDDD;
    border-color: #A66;
}
code.good, pre.good, kbd.good, var.good, samp.good {
    background-color: #DDE3DD;
    border-color: #6A6;
}
pre[lang]::before,
pre.bad::before,
pre.good::before,
pre.syntax::before {
    content: "code";
    content: attr(lang);
    content: attr(lang, "code");

    background: white;
    border-right: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
    transition: .3s all;

    position: absolute;
    top: 0;
    left: 0;
    padding: 1ex;

    font-size: 0.8em;
}
pre.syntax::before {
    content: "syntax";
}
pre.bad::before {
    content: "broken!";

    color: #A66;
    font-weight: bold;
}
pre.good::before {
    content: "correct";

    color: #6A6;
    font-weight: bold;
}
pre samp:hover, code samp:hover {
    background: rgba(255, 255, 255, 0.5);
}
pre samp::before, code samp::before {
    counter-increment: samp;
    content: "#" counter(samp);

    color: #999;

    position: absolute;
    margin-left: -2em;

    font-size: 0.8em;
}
pre em, code em {
    background: rgba(255, 255, 255, 0);
    transition: 0.2s all;

    position: absolute;
    z-index: -1;
    left: 15%;
    padding-left: 35em;
    width: 40em;

    color: #AAA;
}
pre em::before, code em::before {
    content: "# ";
}
pre em:hover, code em:hover {
    background: rgba(255, 255, 255, 0.5);
}
samp {
    font-weight: inherit;
}
section img[alt] {
    transition: .3s all;
    border-radius: 5px;

    display: block;
    margin: 1em auto;
    padding: 1em;
}
section img[alt]:hover {
    background-color: #EEE;
    box-shadow: 0 0 15px #CCC;
}

nav {
    counter-reset: toc-section;

    transition-duration: 0.3s,0.3s;
    transition-property: left,margin-left,background-color;
    background: rgba(255, 255, 255, 0);

    position: fixed;
    top: 0;
    left: -50%;
    z-index: 9;
    width: 50%;
    height: 100%;
    margin-left: 3em;
    overflow: hidden;
}
nav::before {
    content: "≣";
    content: "≡";
    line-height: 0.33;

    position: fixed;
    top: 0.2em;
    left: 0.2em;
    z-index: 10;

    font-size: 3em;
}
nav:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 2px black;

    left: 0;
    margin-left: 0;
    overflow: auto;
}
nav h1,
nav ul {
    opacity: 0;
    transition: 0.3s opacity;
}
nav:hover h1,
nav:hover ul {
    opacity: 1;
}
nav h1 {
    padding: 0 1ex;
    margin: 1em 0 0;
}
nav ul {
    display: block;
    margin: 0;
    padding: 1em 0;
}
nav li a {
    display: block;
    padding: 1ex 1em;
    border-left: 1ex solid transparent;

    text-decoration: none;
}
nav li a:hover {
    background: #EEE;
}
nav li.toc-active a {
    border-left: 1ex solid #DDD;
}
nav li.toc-h1 {
    counter-reset: toc-subsection;

    margin-top: 1ex;

    font-size: 1em;
}
nav li.toc-h2 a {
    font-size: 0.7em;
    text-indent: 1em;
}
nav li a::before {
    color: #BBB;
    opacity: 0;
    transition: 0.2s all;

    font-size: 0.5em;
}
nav li:hover a::before,
nav li.toc-active a::before {
    opacity: 1;
}
nav li.toc-h1 a::before {
    counter-increment: toc-section;
    content: "⌗" counters(toc-section,".") " ";
}
nav li.toc-h2 a::before {
    counter-increment: toc-subsection;
    content: " ❡" counters(toc-subsection, ".") " ";
}
#chapter_list li {
    padding: 1ex;
    min-height: 7em;
}
#chapter_list p {
    margin: 1em 0 0;
}
#chapter_list li:hover {
    background: rgba(0, 0, 0, .1);
}
#chapter_list label {
    float: right;
}
#chapter_list input:checked::before {
    content: "✓";
    opacity: .2;

    position: absolute;
    z-index: -1;
    margin-left: 0.5em;

    font-size: 5em;
}
body>footer {
    text-align: center;
    font-size: 0.7em;
    font-weight: 100;
    padding: 3em 0 1ex;
    margin: 0;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
