<!DOCTYPE html>
<html class="no-js">
    {% include head.html %}
    <body id="{{ page.id }}">

        {% if page.editable or page.editable == null %}
        <a class="page-edit fixed" href="http://prose.io/#lhunath/guide.bash.academy/edit/gh-pages/{{ page.path }}">[edit this page]</a>
        {% endif %}

        <header data-stellar-background-ratio="0.4">
            <div>
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
            </div>

            {% if page.description %}
            <h3>{{ page.description }}</h3>
            {% endif %}

            {% if page.editable or page.editable == null %}
                <a class="page-edit" href="http://prose.io/#lhunath/guide.bash.academy/edit/gh-pages/{{ page.path }}">[edit this page]</a>
            {% endif %}
        </header>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {{ content }}

        {% include footer.html %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/plugins.js"></script>
        <script src="/js/vendor/toc.bower.min.js"></script>
        <script src="/js/main.js"></script>

        <script async defer src="https://static.factlink.com/lib/dist/factlink_loader.min.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-24338692-4', 'bash.academy');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

        </script>
    </body>
</html>
