---
layout: default
---
<nav>
    <h1>Sections</h1>
    <div id="toc"></div>

    <div class="footnote">{% include contribute.html %}</div>

    <h1>Chapters</h1>
    <ul>
        <li><a href="/">{{ site.title }}<br>
            <sub>Back to the front page.</sub></a></li>
        {% assign chapters = site.pages | where: 'layout', 'chapter' | sort: 'chapter' %}
        {% for chapter in chapters %}
            <li><a href="{{ chapter.url }}#">{{ chapter.title }}<br>
                <sub>{{ chapter.subtitle }}</sub></a></li>
        {% endfor %}
    </ul>
</nav>

{{ content }}
